
<IfModule mod_rewrite.c>
AddDefaultCharset UTF-8
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php?url=$1  [QSA,L]

RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://saikomakki.cl/Admin/$1 [R,L]

</IfModule>